:root {
  --starting-options-position:400px;
  --starting-title-position:200px;
  --center-of-screen: 30%;
}

body {
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media (min-width: 1000px) and (max-width: 1080px) {
  .pick-choice-title {
    display: block;
    position: relative;
    font-size: 2rem;
    font-family: sans-serif;
    top: 200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }
  .options-container {
    margin-top: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 1000px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .options-container div {
    outline-style: solid;
    outline-width: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    outline-color: coral;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .options-container div img {
    width: 200px;
  }
  .options-container :nth-child(3) {
    margin-right: 0;
  }
  .rock:hover, .paper:hover, .scissors:hover {
    -webkit-transform: scale(1.2) rotateZ(-45deg);
            transform: scale(1.2) rotateZ(-45deg);
    outline-width: 6px;
    outline-color: #5070ff;
    background-color: #171131;
    cursor: pointer;
  }
}

@media screen and (min-width: 1080px) {
  .pick-choice-title {
    display: block;
    position: relative;
    font-size: 2rem;
    font-family: sans-serif;
    top: 80px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }
  .options-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1500px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .options-container div {
    outline-style: solid;
    outline-width: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    outline-color: coral;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .options-container div img {
    width: 200px;
  }
  .options-container :nth-child(3) {
    margin-right: 0;
  }
  .rock:hover, .paper:hover, .scissors:hover {
    -webkit-transform: scale(1.2) rotateZ(-45deg);
            transform: scale(1.2) rotateZ(-45deg);
    outline-width: 6px;
    outline-color: #5070ff;
    background-color: #171131;
    cursor: pointer;
  }
}

@media (min-width: 1920px) {
  .pick-choice-title {
    display: block;
    position: relative;
    font-size: 3rem;
    font-family: sans-serif;
    top: 200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }
  .options-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1500px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .options-container div {
    outline-style: solid;
    outline-width: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    outline-color: coral;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .options-container div img {
    width: 200px;
  }
  .options-container :nth-child(3) {
    margin-right: 0;
  }
  .rock:hover, .paper:hover, .scissors:hover {
    -webkit-transform: scale(1.2) rotateZ(-45deg);
            transform: scale(1.2) rotateZ(-45deg);
    outline-width: 6px;
    outline-color: #5070ff;
    background-color: #171131;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .pick-choice-title {
    display: block;
    position: relative;
    font-size: 2rem;
    font-family: sans-serif;
    top: 50px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }
  .options-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: top 0.2s ease, flex-direction 0.2s ease, -webkit- 2009flex-direction 0.2s ease;
    transition: top 0.2s ease, flex-direction 0.2s ease, -webkit- 2009flex-direction 0.2s ease;
    transition: top 0.2s ease, flex-direction 0.2s ease;
    transition: top 0.2s ease, flex-direction 0.2s ease, -webkit- 2009flex-direction 0.2s ease, -ms-flex-direction 0.2s ease;
  }
  .options-container div {
    outline-style: solid;
    outline-width: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    outline-color: coral;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .options-container div img {
    width: 200px;
  }
  .options-container :nth-child(3) {
    margin-right: 0;
  }
}
