:root {
  --starting-options-position:400px;
  --starting-title-position:200px;
  --center-of-screen: 30%;
}

body {
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.pick-choice-title {
  --top-position: 200px;
  --font-size: 2rem;
  display: block;
  position: relative;
  font-size: var(--font-size);
  font-family: sans-serif;
  top: var(--top-position);
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}

.wrapper {
  --flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--flex-direction);
          flex-direction: var(--flex-direction);
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.options-container {
  --top-position: 300px;
  --width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: var(--top-position);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: var(--width);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}

.options-container div {
  outline-style: solid;
  outline-width: 2px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline-color: coral;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.options-container div img {
  width: 200px;
}

.options-container :nth-child(3) {
  margin-right: 0;
}

@media (min-width: 1000px) {
  .rock:hover, .paper:hover, .scissors:hover {
    -webkit-transform: scale(1.2) rotateZ(-45deg);
            transform: scale(1.2) rotateZ(-45deg);
    outline-width: 6px;
    outline-color: #5070ff;
    background-color: #171131;
    cursor: pointer;
  }
}

@media (min-width: 1080px) {
  .pick-choice-title {
    --top-position: 140px;
  }
  .options-container {
    --width: 1500px;
  }
}

@media (min-width: 1000px) and (max-width: 1079px) {
  .pick-choice-title {
    --top-position: 100px;
  }
  .options-container {
    --top-position: 200px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    --width: fit-content;
    gap: 100px;
  }
}

@media (min-width: 1920px) {
  .pick-choice-title {
    --top-position: 200px;
    --font-size: 3rem;
  }
  .options-container {
    --top-position: 400px;
  }
}

@media (max-width: 1000px) {
  .pick-choice-title {
    --top-position: 50px;
  }
  .options-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    --top-position: -80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 60px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: top 0.2s ease, flex-direction 0.2s ease, -webkit- 2009flex-direction 0.2s ease;
    transition: top 0.2s ease, flex-direction 0.2s ease, -webkit- 2009flex-direction 0.2s ease;
    transition: top 0.2s ease, flex-direction 0.2s ease;
    transition: top 0.2s ease, flex-direction 0.2s ease, -webkit- 2009flex-direction 0.2s ease, -ms-flex-direction 0.2s ease;
  }
}
