:root{
    --starting-options-position:400px;
    --starting-title-position:200px;
    --center-of-screen: 30%;
}
body{
    font-size: 18px;
    box-sizing: border-box;
    padding:0;
    margin:0;
    overflow: hidden;
}

@media (min-width: 1000px) and (max-width: 1080px) {
    
    .pick-choice-title{
       display: block;     
       position: relative;
       font-size: 2rem;
       font-family: sans-serif;
       top: 200px;
       margin-right: auto;
       margin-left: auto;
       transition: top 0.2s ease;

    }
    .wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100vh;
        margin-right:auto;
        margin-left: auto;
    }
    .options-container{
        margin-top: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-shrink: 1;
        width: 1000px;
        height: fit-content;
        justify-content:space-evenly;
        margin-right: auto;
        margin-left: auto;
        transition: top 0.2s ease;
        div{
            outline-style: solid;
            outline-width: 2px;
            height: fit-content;
            outline-color: coral;
            img{
                width: 200px;
            }
            transition: all 0.2s ease;
        
        }
        :nth-child(3){
            margin-right: 0;
        }
        
        
    }

    .rock:hover, .paper:hover, .scissors:hover{
        transform: scale(1.2) rotateZ(-45deg);
        outline-width: 6px;
        outline-color: rgb(80, 112, 255);
        background-color: rgb(23, 17, 49);
        // border-radius: 2px;
        cursor: pointer;
    }

}
@media screen and (min-width: 1080px) {
    .pick-choice-title{
        display: block;     
        position: relative;
        font-size: 2rem;
        font-family: sans-serif;
        top: 80px;
        margin-right: auto;
        margin-left: auto;
        transition: top 0.2s ease;
     }

    .wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100vh;
        margin-right:auto;
        margin-left: auto;

    }
    .options-container{
        // margin-top: 300px;
        display: flex;
        position: relative;
        top: 300px;
        flex-direction: row;
        align-items: center;
        width: 1500px;
        height: fit-content;
        justify-content:space-evenly;
        margin-right: auto;
        margin-left: auto;
        transition: top 0.2s ease;
        
        div{

            outline-style: solid;
            outline-width: 2px;
            height: fit-content;
            outline-color: coral;
            img{
                width: 200px;
            }
            transition: all 0.2s ease;
        
        }
        :nth-child(3){
            margin-right: 0;
        }
        
        
    }
    
    .rock:hover, .paper:hover, .scissors:hover{
        transform: scale(1.2) rotateZ(-45deg);
        outline-width: 6px;
        outline-color: #5070ff;
        background-color: #171131;
        cursor: pointer;
    }

}

// higher than 1080
@media (min-width: 1920px) {
    
    .pick-choice-title{
        display: block;     
        position: relative;
        font-size: 3rem;
        font-family: sans-serif;
        top: 200px;
        margin-right: auto;
        margin-left: auto;
        transition: top 0.2s ease;
 
     }
    .wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100vh;
        margin-right:auto;
        margin-left: auto;
    }
    .options-container{
        // margin-top: 500px;
        display: flex;
        position: relative;
        top: 500px;
        flex-direction: row;
        align-items: center;
        width: 1500px;
        height: fit-content;
        justify-content:space-evenly;
        margin-right: auto;
        margin-left: auto;
        transition: top 0.2s ease;
        
        div{
            outline-style: solid;
            outline-width: 2px;
            height: fit-content;
            outline-color: coral;
            img{
                width: 200px;
            }
            transition: all 0.2s ease;
        
        }
        :nth-child(3){
            margin-right: 0;
        }
        
        
    }

    .rock:hover, .paper:hover, .scissors:hover{
        transform: scale(1.2) rotateZ(-45deg);
        outline-width: 6px;
        outline-color: rgb(80, 112, 255);
        background-color: rgb(23, 17, 49);
        // border-radius: 2px;
        cursor: pointer;
    }

}



//mobile
@media (max-width: 1000px) {
    .pick-choice-title{
       display: block;     
       position: relative;
       font-size: 2rem;
       font-family: sans-serif;
       top: 50px;
       margin-right: auto;
       margin-left: auto;
       transition: top 0.2s ease;

    }

    .wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100vh;
        margin-right:auto;
        margin-left: auto;

    }
    .options-container{
        // margin-top: 100px;
        display: flex;
        position: relative;
        flex-direction: column;
        top: 60px;
        align-items: center;
        width: fit-content;
        height: fit-content;
        justify-content:space-evenly;
        margin-right: auto;
        margin-left: auto;
        transform: scale(0.5);
        transition: top 0.2s ease, flex-direction 0.2s ease;
        div{

            outline-style: solid;
            outline-width: 2px;
            height: fit-content;
            outline-color: coral;
            img{
                width: 200px;
            }
            transition: all 0.2s ease;
        
        }
        :nth-child(3){
            margin-right: 0;
        }
        
        
    }


}