:root{
    --starting-options-position:400px;
    --starting-title-position:200px;
    --center-of-screen: 30%;
}
body{
    font-size: 18px;
    box-sizing: border-box;
    padding:0;
    margin:0;
    overflow: hidden;
}

.pick-choice-title{
    --top-position: 200px;
    --font-size: 2rem;
    
    display: block;     
    position: relative;
    font-size:var(--font-size);
    font-family: sans-serif;
    top: var(--top-position);
    margin-right: auto;
    margin-left: auto;
    transition: top 0.2s ease;

 }

 .wrapper{
    --flex-direction: column;

    display: flex;
    position: relative;
    flex-direction: var(--flex-direction);
    height: 100vh;
    margin-right:auto;
    margin-left: auto;
}

.options-container{
    // margin-top: 400px;
    --top-position: 300px;
    --width: 1000px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: var(--top-position);
    align-items: center;
    flex-shrink: 1;
    width: var(--width);
    height: fit-content;
    justify-content:space-evenly;
    margin-right: auto;
    margin-left: auto;
    transition: top 0.2s ease;
    div{
        outline-style: solid;
        outline-width: 2px;
        height: fit-content;
        outline-color: coral;
        img{
            width: 200px;
        }
        transition: all 0.2s ease;
    
    }
    :nth-child(3){
        margin-right: 0;
    }
    
    
}

@media (min-width: 1000px)
{
    .rock:hover, .paper:hover, .scissors:hover{
        transform: scale(1.2) rotateZ(-45deg);
        outline-width: 6px;
        outline-color: rgb(80, 112, 255);
        background-color: rgb(23, 17, 49);
        cursor: pointer;
    }
    
}


@media (min-width: 1080px) {
    .pick-choice-title{      
        --top-position: 140px;
     }
    .options-container{
        --width: 1500px;     
    
    }
 

}

@media (min-width: 1000px) and (max-width: 1080px)
{   
    .pick-choice-title{      
        --top-position: 200px;
     }
    .options-container
    {
        --top-position: 200px;  
    }

}

// higher than 1080
@media (min-width: 1920px) {
    
    .pick-choice-title{
        --top-position: 200px;
        --font-size: 3rem;
     }
 
    .options-container{
        --top-position: 400px;             
    }

}



//mobile
@media (max-width: 1000px) {
    .pick-choice-title{
        --top-position: 50px;
    }

    .options-container{
        // margin-top: 100px;
        display: flex;
        position: relative;
        flex-direction: column;
        --top-position: -80px;
        align-items: center;
        width: fit-content;
        height: fit-content;
        justify-content:space-evenly;
        margin-right: auto;
        margin-left: auto;
        transform: scale(0.5);
        transition: top 0.2s ease, flex-direction 0.2s ease;
        // div{

        //     outline-style: solid;
        //     outline-width: 2px;
        //     height: fit-content;
        //     outline-color: coral;
        //     img{
        //         width: 200px;
        //     }
        //     transition: all 0.2s ease;
        
        // }
        // :nth-child(3){
        //     margin-right: 0;
        // }
        
        
    }


}